<div style="margin-bottom:18px;">
    <strong>
        {{ record.player_team.player.last_name }},
        {{ record.player_team.player.first_name }}
    </strong>

    <br>

    Estado actual: {{ record.attendance_status.description }}

    <br>

    <form
        method="post"
        action="{% url 'attendance:update_player_attendance' training_session.id record.id 1 %}"
        style="display:inline;"
    >
        {% csrf_token %}
        <button type="submit">Presente</button>
    </form>

    <form
        method="post"
        action="{% url 'attendance:update_player_attendance' training_session.id record.id 2 %}"
        style="display:inline;"
    >
        {% csrf_token %}
        <button type="submit">Ausente</button>
    </form>

    <form
        method="post"
        action="{% url 'attendance:update_player_attendance' training_session.id record.id 3 %}"
        style="display:inline;"
    >
        {% csrf_token %}
        <button type="submit">Lesionado</button>
    </form>

    <form
        method="post"
        action="{% url 'attendance:update_player_attendance' training_session.id record.id 6 %}"
        style="display:inline;"
    >
        {% csrf_token %}
        <button type="submit">Enfermo</button>
    </form>
</div>